# Dependencies
node_modules/
.pnp/
.pnp.js

# Production / build output
dist/
build/
out/
.next/
.cache/
next.config.mjs
# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# Turbo / Next / Vercel
.vercel/
.turbo/

# Misc
*.tgz
*.pid
*.seed
*.pid.lock

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache
next.config.mjs
next.config.mjs
